.cart-container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
}
.cart-container > div {
  background: white;
  margin-top: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
}
.left {
  width: 60%;
  height: 100vh;
  margin-left: 40px;
  padding: 10px;
  overflow-x: scroll;
}
.left::-webkit-scrollbar {
  width: 5px;
}

.left::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}
.right {
  width: 30%;
  height: 60vh;
  margin-left: 50px;
}
#price-heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: #878787;
  margin-left: 10px;
  margin-top: 10px;
}
.first {
  display: flex;
}
.first p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 20px;
}
#value {
  margin-left: 200px;
}
#value2 {
  margin-left: 222px;
  color: #388e3c;
}
#value3 {
  margin-left: 180px;
  color: #388e3c;
}
.total-amount-container {
  display: flex;
}
.total-amount-container p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 20px;
}
#value4 {
  margin-left: 160px;
}
