.product-container {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow-x: hidden;
}
.product-container::-webkit-scrollbar {
  width: 5px;
}

.product-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.left {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 60%;
  height: 100vh;
  margin-left: 5px;
}

.left img {
  width: 40vw;
  height: 70vh;
  margin-top: 20px;
}

#product-title {
  margin-top: 20px;
  margin-left: 10px;
  font-size: larger;
  font-weight: 500;
}

.price-container {
  height: 10vh;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
}

#price-title {
  font-size: xx-large;
  font-weight: 600;
}

#original-price-title {
  align-self: center;
  margin-left: 20px;
  font-size: 20px;
}
#discount-price-para {
  align-self: center;
  margin-left: 20px;
  font-size: 22px;
  color: green;
  font-weight: 400;
}
.additembtn {
  width: 98%;
  height: 60px;
  margin-left: 100px;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 20px;
  color: white;
}
